
<form action="/addplace">
  <div class="form-group">
     <label for="place">gimme a place to go!</label>
     <input name="place" class="form-control" type="text">
  </div>
  <hr>
  <button type="submit" class="btn btn-success">Go</button>
</form>
