<h1>All the places</h1>
<hr>
<a href="/clear-list" class="btn btn-info">Clear List</a>
<h5>Length of Places list: <%= @places_len %></h5>
<hr>
<ul>
  <% Places.all.each do |place| %>
  <li><%= place.description %></li>
  <% end %>
</ul>
<br>
